.myo-progress-bar .myo-progress-bar__mobile-text {
  display: none;
}

.myo-progress-bar .myo-progress-bar__subtitle {
  min-width: 5rem;
}

.myo-progress-bar .myo-progress-bar__ma-inner-circle {
  margin: 0.1rem;
}

.myo-progress-bar .myo-progress-bar__ma-inner-circle::before {
  content: '';
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  left: -4px;
  top: -4px;
  border-radius: 50%;
  z-index: -1;
  background: currentColor;
}

.myo-progress-bar .myo-progress-bar__height1 {
  height: 1rem;
}

.myo-progress-bar .myo-progress-bar__title-font {
  display: block;
  font-size: 13px;
  margin-top: 1.15em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.myo-progress-bar .myo-package-progress-bar__ma-inner-circle {
  margin: 0.15rem;
  width: 0.75rem;
  height: 0.75rem;
}

.myo-progress-bar .myo-package-progress-bar__ma-inner-circle::before {
  content: '';
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: -4px;
  top: -4px;
  border-radius: 50%;
  z-index: -1;
  background: currentColor;
}

.myo-progress-bar .myo-package-progress-bar__circle.w1 {
  width: 0.75rem;
  height: 0.75rem;
}

.myo-progress-bar .myo-package-progress-bar__line {
  border-width: 1px;
}

.myo-progress-bar .myo-package-progress-bar__circle.mv3 {
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}

.myo-progress-bar .myo-package-progress-bar__text {
  display: none;
}

.myo-progress-bar .myo-package-progress-bar__margin {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

@supports (width: fit-content) {
  .myo-progress-bar .myo-package-progress-bar__maxWidth {
    width: fit-content;
    max-width: 300px;
  }
}

.myo-progress-bar .myo-package-progress-bar__maxWidth {
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
}

.myo-progress-bar .caption {
  display: none;
}

.myo-package-progress-bar__line-height {
  line-height: 1.25rem;
}

@media (min-width: 768px) and (max-width: 979px) {
  .myo-progress-bar .myo-progress-bar__text {
    display: none;
  }
  .myo-progress-bar .myo-progress-bar__mobile-text {
    display: block;
    padding-left: 0.4rem;
  }

  .myo-progress-bar .myo-package-progress-bar__margin:first-of-type {
    margin-left: 0;
    margin-right: 0.25rem;
  }

  .myo-progress-bar .myo-package-progress-bar__margin:last-of-type {
    margin-left: 0.25rem;
    margin-right: 0rem;
  }
}

@media (max-width: 767px) {
  .myo-progress-bar .myo-package-progress-bar__margin:first-of-type {
    margin-left: 0;
    margin-right: 0.25rem;
  }

  .myo-progress-bar .myo-package-progress-bar__margin:last-of-type {
    margin-left: 0.25rem;
    margin-right: 0;
  }

  .myo-progress-bar .myo-progress-bar__text {
    display: none;
  }

  .myo-progress-bar .myo-progress-bar__ma-inner-circle {
    margin: 0.15rem;
    width: 0.75rem;
    height: 0.75rem;
  }

  .myo-progress-bar .myo-progress-bar__ma-inner-circle::before {
    content: '';
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: -4px;
    top: -4px;
    border-radius: 50%;
    z-index: -1;
    background: currentColor;
  }

  .myo-progress-bar .myo-progress-bar__circle.w1 {
    width: 0.75rem;
    height: 0.75rem;
  }

  .myo-progress-bar .myo-progress-bar__line {
    border-width: 1px;
  }

  .myo-progress-bar .myo-progress-bar__circle.mv3 {
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
  }

  .myo-progress-bar .myo-progress-bar__mobile-text {
    display: block;
    padding-left: 0.4rem;
  }
}
